/* General styling */

body { 
	height: 100%;
	max-height: 100%;
	font-family: Georgia, serif;
	background: #FFFFFF;
}

p {
	line-height: 1.2em;
}

h3 {
	font-size: 1.2em;
	color: #85CD00;
}

h2{
		color: #85CD00;
}

table {
	font: 14px/24px Verdana, Arial, Helvetica, sans-serif;
	background: #E1F8FF;
	border-collapse: collapse;
	border-style: hidden;
	}
	
th {
padding: .5 1em;
max-width: 250px;
border-bottom: 5px solid #097BB0;
}

td {
padding: .5 1em;
max-width: 250px;	
border-bottom: 1px solid #097BB0;
}

th {
max-width: 250px;
}	
	
ul {
	list-style-type: none;
	margin: 0;
	padding-left: 2em;
}

a {
	display: block;
	width: 100%;
	text-decoration: none;
	color: #BADFD4;
}

a:hover{
	color: #43AE7C;
}

/*Layout*/
img.head-pic{
max-height: 10em;
margin-top: 10px;
margin-right:20px;
float: left;
}

li.sidemenu{
font-size:1.2em;
margin: 10px;
}

a.side{
display:block;
width: 8em;
background-color: #D4F2F2;
margin: 20px;
padding:5px;
font-style: sans-serif;
color:#000000
}

a.side:hover{
background-color: #43AE7C;
}

#header-wrapper {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	height: 200px;
	background: #000000;
}

#header {
	position: absolute;
	left: 3em;
	width: 100%;
	height : 200px;
	background: #000000;
}

#bar-wrapper {
	position: absolute;
	top: 200px;
	left: 0;
	width: 250px;
	height: 100%;
	background: #85CD00;
}

#bar {
	position: absolute;
	/*top: 200px;*/
	left: 0;
	width: 250px;
	background: #85CD00;
	padding-top: 1em;
}

#content-wrapper{
width: 100%;

/*background-color: #FF15C5;*/
}

#content {
	width: 100%;
	margin-left: 250px;
	margin-top: 200px;
	padding: 2em 4em;
	/*background-color: #FF9F15;*/
}
